header {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px 75px;
  background: #2e3078;
  /* height: 70px; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.541);
}

header h1 {
  color: white;
}

header nav ul {
  /* border: 1px solid blue; */
  display: flex;
  gap: 17px;
  /* padding: 15px; */
  list-style: none;
  width: max-content;
}

/* li {
  color: rgb(3, 117, 3);
}

li:before {
  content: " | ";
} */

li:first-child:before {
  content: none;
}

.links {
  text-decoration: none;
  color: white;
  font-size: 13.5px;
  font-weight: 700;
  padding: 5px 0;
}

.selected {
  border-bottom: 2px solid white;
}

.menu-amburger {
  display: none;
}

.logo-amburger {
  display: flex;
  gap: 10px;
  /* border: 1px solid red; */
  width: 100%;
}

.logo-amburger button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.active {
  display: block;
}

@media (max-width: 1317px) {
  .menu-amburger {
    display: block;
  }

  header {
    /* border: 1px solid red; */
    flex-direction: column;
    gap: 15px;
  }

  header nav ul {
    /* border: 1px solid blue; */
    flex-direction: column;
  }

  header nav {
    /* border: 1px solid blue; */
    width: 100%;
  }
  header nav {
    display: none;
  }
}

@media (max-width: 1100px) {
  header {
    /* border: 1px solid red; */
    /* display: flex;
    align-items: center;
    justify-content: space-evenly; */
    padding: 25px 20px;
    /* background: rgb(3, 177, 3); */
  }
}
